html, body {
  height: 100%;
}

main {
  height: calc(100% - 40px);
  background: rgb(118, 36, 57);
  background: linear-gradient(90deg, rgba(118, 36, 57, 1) 36%, rgba(69, 227, 252, 1) 100%);
}

.login-form {
  height: 500px;
}

.login-form-image {
  border-bottom-right-radius: 15px;
  border-top-right-radius: 15px;
}

.login-form h2:after {
  content: " ";
  width: 100px;
  height: 5px;
  background: #FEB58A;
  display: block;
  margin-top: 20px;
  border-radius: 3px;
  margin-left: auto;
  margin-right: auto;
}

.login-form-container {
  -webkit-box-shadow: 0px 10px 13px -7px #000000, 5px 5px 7px 5px rgba(0, 0, 0, 0);
  box-shadow: 0px 10px 13px -7px #000000, 5px 5px 7px 5px rgba(0, 0, 0, 0);
}

.border-left {
  border-top-left-radius: 15px;
  border-bottom-left-radius: 15px;
}